.article {
	font-size: 20px;
	white-space: pre;
	width: 100%;
}

.contentTitle {
	font-size: 30px;
	margin-top: -115px;
	text-shadow: white 0.1em 0.1em 0.2em;
	font-size: 30px;
	background-color: transparent;
}

/* home */
.contentListColmun {
	border: solid 1px #DDD;
	border-left: solid 10px #DDD;
	border-right: solid 10px #DDD;
	border-radius: 3px;
	margin-bottom: 3px;
	border-right: solid 10px #DDD;
}

.contentListTitle {
	padding-left: 5px;
	font-size: 20px;
}

.contentListStatus {
	font-size: 12px;
}

.contentListDate {
	font-size: 12px;
}