h2, h3 {
	margin: 0;
	padding: 0;
}

button {
	overflow: hidden;
}

select {
	height: 33px;
}

.pageTitle {
	margin-bottom: 10px;
}

ul {
	padding-top: 0;
	padding-bottom: 0;
}

.article p {
	white-space: pre;
	white-space: pre-wrap;
	white-space: pre-line;
	white-space: -hp-pre-line;
	word-wrap: break-word;
	width: 100%;
}

.clickable {
	
}

.clickable:HOVER {
	opacity: 0.5;
	cursor: pointer;
}

#calendarContentTitle {
	font-size: 30px;
	background-color: transparent;
	color: #333;
}

.contentTitle {
	font-size: 30px;
	margin-top: -115px;
	text-shadow: black 0.1em 0.1em 0.2em;
	background-color: transparent;
	color: white;
}

.tag {
	color: #EEE;
}

.error {
	font-weight: bold;
	color: red;
}
/* home */
.contentListColmun {
	border: solid 1px #DDD;
	border-left: solid 10px #DDD;
	border-right: solid 10px #DDD;
	border-radius: 3px;
	margin-bottom: 3px;
	border-right: solid 10px #DDD;
}

.contentListTitle {
	padding-left: 5px;
}

.contentListStatus {
	font-size: 12px;
}

.contentListDate {
	font-size: 12px;
}

.fixedFooter {
	position: absolute;
	bottom: 0px;
}

.ellipsis {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.linebreak {
	white-space: pre;
	white-space: pre-wrap;
	white-space: pre-line;
	white-space: -hp-pre-line;
	word-wrap: break-word;
}

.repeatOdd {
	background-color: #FAFAFA;
}

.block {
	background-color: #EEE;
	border-radius: 5px;
	padding: 5px;
}

.message p {
	white-space: pre;
	white-space: pre-wrap;
	white-space: pre-line;
	white-space: -hp-pre-line;
	word-wrap: break-word;
}

#groupArea {
	border: solid 1px #DDD;
	border-radius: 3px;
	padding-top: 5px;
}
/* Top */
.overToImageOnIndexViewContent {
	min-height: 100px;
	margin-top: -10px
}

.topBg {
	background: url('/images/top_image2.jpg') no-repeat center center;
	background-size: cover;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
}

#topGithubLink {
	cursor: pointer;
}

#topGithubLink:HOVER {
	opacity: 0.5;
}
/* Group input */
#groupName {
	font-size: 30px;
}

#groupDescription {
	white-space: pre;
}

/* content */
#imagePane {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.9;
	background-color: #000;
	align: center;
	vertical-align: middle;
	padding: 20px;
}

#imagePaneImgBase {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	vertical-align: middle;
	padding: 20px;
	align: center;
	overflow: scroll;
}

#calendarImagePaneImgBase {
	position: fixed;
	top: 0;
	left: 0;
	vertical-align: middle;
	padding: 20px;
	align: center;
	height: 100%;
	width: 100%;
	height: 100%;
	overflow: scroll;
}
/* for index.html contents area */
.marginTop10 {
	margin-top: 10px;
}
/* Message */
.messageAccountArea {
	opacity: 0.5;
	cursor: pointer;
}

.messageAccountArea:HOVER {
	cursor: pointer;
}

@media ( max-width :767px) {
	#searchArea {
		display:none;
	}
	#messageInputArea {
		position: fixed;
		bottom: 3px;
	}
	#groupName {
		margin-top: 10px;
	}
	#messageChannelsArea {
		position: fixed;
		z-index: 999;
		left: 100%;
		width: 100%;
		top: 10px;
		margin-left: -50px;
		max-height: 100%;
		overflow-x: visible;
		overflow-y: scroll;
		opacity: 0.3;
	}
	.otherChannel {
		background-color: #CCC;
		padding: 5px;
		border-radius: 5px;
		margin-bottom: 5px;
		color: white;
	}
}

@media ( min-width : 768px) {
	#infoArea {
		height: 100%;
		position: relative;
		background-color: #448;
		color: #EEE;
		padding-top: 10px;
	}
	#infoAreaInner {
		height: 100%;
		overflow: scroll;
	}
	#channelNameArea {
		height: 60px;
		position: absolute;
		background-color: #448;
		z-index: 99;
		width: 100%;
	}
	.marginForChannelName {
		height: 60px;
	}
	#messageAccountsBottomMarginArea {
		height: 200px;
	}
	#messageControllArea {
		position: absolute;
		left: 0px;
		bottom: 7px;
		width: 96%;
		margin-left: 2%;
		margin-right: 2%;
		padding: 0;
		height: 40px;
		background-color: #F6F6F6;
		border-radius: 5px;
	}
	.toolAreaItem {
		width: 30px;
		height: 30px;
		margin: 5px;
		padding: 3px;
	}
	.messageSettingButton {
		border-radius: 5px;
		background-color: #88A;
		transition: all 0.3s ease;
	}
	.messageSettingButton:HOVER {
		background-color: #336;
		cursor: pointer;
	}
	#messageChannelsArea {
		position: absolute;
		left: 0px;
		bottom: 50px;
		width: 96%;
		margin: 0;
		padding: 0;
		padding-top: 5px;
		max-height: 150px;
		background-color: #F6F6F6;
		overflow: scroll;
		border-radius: 5px;
		margin-left: 2%;
		margin-right: 2%;
	}
	#messageArea {
		padding-left: 20px;
	}
	.otherChannel {
		border-radius: 5px;
		margin-bottom: 5px;
		padding: 5px;
		color: #FFF;
		background-color: #88A;
		transition: all 0.3s ease;
	}
	.otherChannel:HOVER {
		cursor: pointer;
		color: #FFF;
		background-color: #336;
	}
}

#messageArea table {
	border: 2px solid #DDD;
}

#messageArea table td {
	border: 2px solid #DDD;
	padding: 0 3px;
}

#messageArea table th {
	border: 2px solid #DDD;
	padding: 0 3px;
}

.messageFileDropArea {
	background-color: #666;
	background: url('/images/upload.png') no-repeat center;
	background-size: contain;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 80%;
	height: 100%;
	background-color: #666;
	opacity: 0.5;
	border-radius: 3px;
}

.helpSample table {
	border: 2px solid #DDD;
}

.helpSample table td {
	border: 2px solid #DDD;
	padding: 0 3px;
}

.helpSample table th {
	border: 2px solid #DDD;
	padding: 0 3px;
}

#messageHelp {
	opacity: 0.5;
	transition: all 0.3s ease;
}

#messageHelp:HOVER {
	opacity: 1.0;
	cursor: pointer;
}

.messageAccountAreaNow {
	opacity: 1.0;
}

.channelAccountName.ng-hide {
	opacity: 0.5;
}

.messageBody>p {
	white-space: pre;
	white-space: pre-wrap;
	white-space: pre-line;
	white-space: -hp-pre-line;
	word-wrap: break-word;
	margin-bottom: 0px;
}

.messageBody img {
	max-height: 200px;
}

.timeLineSearchHandle:HOVER {
	cursor: pointer;
	background-color: #eee;
	border-radius: 20px;
}

/* Tag input */
.bootstrap .tags {
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.bootstrap .tags.focused {
	border-color: #66afe9;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.bootstrap .tags .tag-item {
	background: #428bca;
	border: 1px solid #357ebd;
	border-radius: 4px;
	color: #fff;
}

.bootstrap .tags .tag-item.selected {
	background: #d9534f;
	border: 1px solid #d43f3a;
	border-radius: 4px;
	color: #fff;
}

.bootstrap .tags .tag-item button {
	background: transparent;
	color: #000;
	opacity: .4;
}

.bootstrap .autocomplete {
	border-radius: 4px;
}

.bootstrap .autocomplete .suggestion-item.selected {
	color: #262626;
	background-color: #e9e9e9;
}

.bootstrap .autocomplete .suggestion-item em {
	font-weight: normal;
	background-color: #ffff00;
}

.bootstrap .autocomplete .suggestion-item.selected em {
	color: #262626;
	background-color: #ffff00;
}
/* highlignt */
.highlight {
	color: #F39
}

.calenderDragover {
	background-color: #AAA;
	border: solid 3px black;
}

.calenderDate {
	text-shadow: white 0.1em 0.1em 0.2em;
	color: #333;
}

.calenderDescription {
	text-shadow: #333 0.1em 0.1em 0.2em;
	color: #EEE;
	height: 20px;
}

.calenderDescription:HOVER {
	text-shadow: #333 0.1em 0.1em 0.2em;
	color: white;
	height: 20px;
	border: solid 1px #999;
	cursor: pointer;
}

.center-cropped {
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.center-cropped img {
	height: 100%;
	width: 100%;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity = 0);
	opacity: 0;
}