.progressFixed {
	position: fixed;
	top: 0px;
	width: 100%;
}

.progressFixed b {
	display: inline;
}

.progressAbsolute {
	position: absolute;
	top: 50px;
	height: 5px;
	width: 100%;
}

.progressAbsolute b {
	display: none;
}