<div style="height: 100%;">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
			<div class="row">
				<h2 class="pageTitle" ng-bind="messages.changePassword"></h2>
			</div>
			<div class="row">
				<form class="form-signin">
					<label for="inputPassword" class="sr-only">Password</label> <input
						type="password" id="inputPassword" class="form-control"
						placeholder="Password" required autofocus ng-model="password">
					<button class="btn btn-lg btn-primary btn-block" type="submit"
						ng-click="changePassword()">Change</button>
				</form>
			</div>
		</div>
	</div>
</div>