<div class="col-xs-12" style="height: 100%;">
	<div class="row">
		<div class="col-xs-12" ng-show="content && 'calendar' != content.type">
			<div class="row" style="height: 200px; overflow: hidden">
				<div class="col-xs-12" style="margin-top: -100px; margin: 0; padding: 0;">
					<img ng-src="{{content.ContentBodies[0].topImageUrl ? content.ContentBodies[0].topImageUrl + '?sessionKey=' + sessionKey : createTitleImage(content.ContentBodies[0].title)}}" style="width: 100%" />
				</div>
			</div>
			<div class="row">
				<h2 class="col-sm-10 col-sm-offset-1 col-xs-12 contentTitle" ng-bind="content.ContentBodies[0].title"></h2>
			</div>
			<div class="row" style="margin-top: -50px;">
				<div class="col-xs-4 col-xs-offset-8" id="tagsArea">
					<ul ng-hide="0 == tags.length" class="nav nav-pills" id="tags" style="height: 40px; overflow: scroll;">
						<li role="presentation" ng-repeat="tag in content.Tags track by tag.id"><a class="tag" ng-href="/tag/{{tag.id}}" ng-bind="tag.name"></a></li>
					</ul>
				</div>
			</div>
			<div class="row" align="center">
				<div class="col-xs-12">
					<a ng-href="/account/{{content.owner.id}}"><span id="accountName" ng-bind="content.owner.name" style="width: 100px; text-align: left"></span></a> <img ng-src="{{content.owner.iconUrl}}" style="height: 80px; margin-top: -40px" class="img-circle"> <span ng-bind="content.updatedAt | date:'yyyy-MM-dd'"></span>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<p id="article" class="article" marked="content.ContentBodies[0].article"></p>
				</div>
			</div>
			<div id="commentArea" class="row" style="background-color: #F8F8F8; padding: 5px;">
				<div class="col-xs-12">
					<div class="row" ng-repeat="comment in comments track by comment.id" style="border: solid 1px #EEE; margin: 5px">
						<div class="col-xs-1" style="margon: 0; padding: 0">
							<img class="img-circle" style="width: 100%" ng-src="{{comment.owner.iconUrl}}" />
						</div>
						<div class="col-xs-11">
							<div class="row">
								<div class="col-xs-12 commentName" style="white-space: pre" ng-bind="comment.owner.name"></div>
								<div class="col-xs-12 commentMessage" style="white-space: pre" ng-bind="comment.ContentCommentMessages[0].message"></div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-1" style="margon: 0; padding: 0">
							<img ng-show="myAccount.iconUrl" class="img-circle" style="width: 100%" ng-src="{{myAccount.iconUrl}}" />
						</div>
						<textarea ng-model="newComment.message" class="col-xs-10" placeholder="{{messages.contents.comment}}" rows="4"></textarea>
						<div class="col-sm-3 col-sm-offset-8 col-xs-10 col-xs-offset-1" style="padding: 0">
							<button class="btn btn-lg btn-primary btn-block" ng-bind="messages.contents.comment" ng-click="comment()"></button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12" ng-show="content && 'calendar' == content.type">
			<div class="row">
				<div class="col-xs-12" id="calendarContentTitle" ng-bind="content.ContentBodies[0].title"></div>
			</div>
			<div class="row" style="margin-top: 10px">
				<div class="col-xs-12">
					<div style="float: left;">
						<button id="prevButton" class="btn btn-default glyphicon glyphicon-chevron-left" ng-click="gotoPrevMonth()"></button>
						<span id="monthLabel" ng-click="dateSelect=true" ng-hide="dateSelect" style="margin: 10px">{{firstDay.getTime() | date:'yyyy/MM'}}</span> <input type="text" ng-show="dateSelect" ng-model="selectingDate" ng-blur="dateSelect=false" placeholder="{{firstDay.getTime() | date:'yyyy/MM'}}">
						<button id="nextButton" class="btn btn-default glyphicon glyphicon-chevron-right" ng-click="gotoNextMonth()"></button>
					</div>
					<br style="clear: both" />
					<div style="margin-top: 10px; border-top: solid 1px #DDD; border-left: solid 1px #DDD;">
						<div ng-repeat="day in ['Sun','Mon','Tue','Wed','Thu','Fr','Sat'] track by $index" style="width: 14%; float: left; position: relative; border-right: solid 1px #DDD; border-bottom: solid 1px #DDD; text-align: center; color: #999">{{day}}</div>
						<br style="clear: both" />
						<div ng-repeat="week in weekColumn track by $index">
							<div ng-repeat="date in [1,2,3,4,5,6,7] track by $index" style="width: 14%; height: 120px; float: left; position: relative; border-right: solid 1px #DDD; border-bottom: solid 1px #DDD; overflow: hidden">
								<img ng-show="content.article[firstDay.getFullYear()+'/'+(firstDay.getMonth()+1)+'/'+(date+week*7-firstDay.getDay())].images[0].thumbnail" ng-src="{{content.article[firstDay.getFullYear()+'/'+(firstDay.getMonth()+1)+'/'+(date+week*7-firstDay.getDay())].images[0].thumbnail}}" style="position: absolute; top: 0; left: 0; width: 100%;" ng-click="showImagesAt(firstDay.getFullYear()+'/'+(firstDay.getMonth()+1)+'/'+(date+week*7-firstDay.getDay()))" /> <br style="clear: both" />
								<div ng-bind="(date+week*7-firstDay.getDay() > 0 &&date+week*7-firstDay.getDay() <= maxDate) ? date+week*7-firstDay.getDay() : ''" style="position: absolute; top: 5px; left: 5px" class="calenderDate"></div>
								<div ng-bind="content.article[firstDay.getFullYear()+'/'+(firstDay.getMonth()+1)+'/'+(date+week*7-firstDay.getDay())].description" style="position: absolute; bottom: 3px; left: 1%; width: 98%; overflow: hidden;" class="calenderDescription"></div>
							</div>
						</div>
						<br style="clear: both" />
					</div>
				</div>
				<div class="col-xs-12" style="height: 10px"></div>
				<div class="form-group col-sm-6 col-xs-12" ng-show="myGroups[1]">
					<div ng-bind="content.Group.name"></div>
				</div>
			</div>
		</div>
		<div class="col-xs-12">
			<div class="row" ng-show="groupAccessKey && !accountInGroup">
				<div class="col-sm-8 col-sm-offset-2 col-xs-12">
					<div ng-bind="messages.contents.thisContentIsNotVisible"></div>
					<form class="form-inline">
						<div class="form-group col-sm-9 col-xs-12">
							<div class="input-group" style="width: 100%">
								<div class="input-group-addon" ng-bind="messages.groups.requestInvitements"></div>
								<input id="requestInvitationMailInputOnSecret" type="email" ng-disabled="myAccount" name="requestInvitationMail" class="form-control" ng-model="requestInvitationMail" placeholder="{{messages.accounts.yourMailAddress}}" required />
							</div>
						</div>
						<div class="col-sm-3 col-xs-12">
							<button id="requestInvitationButtonOnSecret" class="btn btn-primary" style="width: 100%" ng-disabled="!requestInvitationMail || '' == requestInvitationMail" ng-bind="messages.groups.request" ng-click="sendInvitationRequest()"></button>
						</div>
					</form>
				</div>
			</div>
			<div class="row" style="margin-top: 10px" ng-show="groupAccessKey && accountInGroup">
				<div class="col-sm-10 col-xs-12" ng-bind="messages.contents.joinGroup"></div>
				<div class="col-sm-2 col-xs-12">
					<button id="joinButton" class="btn btn-default" ng-bind="messages.groups.join" ng-click="join()"></button>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="imagePane" ng-show="imagePaneSrc || videoPaneSrc || datePaneSrc" align="center"></div>
<div id="imagePaneImgBase" ng-show="imagePaneSrc" align="center" ng-click="clearImagePaneSrc()">
	<div id="overlayImage" class="center-cropped" style="background-image: url('{{imagePaneSrc}}'); max-height: 100%;">
		<img ng-src="{{imagePaneSrc}}" />
	</div>
</div>
<div id="imagePaneImgBase" ng-show="videoPaneSrc" align="center" ng-click="clearImagePaneSrc()">
	<div class="col-xs-12">
		<video id="overlayVideo" class="center-cropped" onclick="return false;" ng-src="{{videoPaneSrc}}" controls autoplay loop></video>
	</div>
</div>
<div id="calendarImagePaneImgBase" ng-show="datePaneSrc" align="center" ng-click="hideImages()" class="col-xs-12">
	<div class="row" style="opacity: 1.0">
		<div class="col-sm-2 col-xs-12" style="max-height: 100%; overflow: scroll;">
			<div class="row">
				<h2 ng-bind="datePaneSrc.keyDate" class="col-xs-12" style="text-align: left; color: white"></h2>
				<div ng-bind="datePaneSrc.description" class="col-xs-12" style="margin-top: 10px; text-align: left; color: white; white-space: pre-wrap;"></div>
			</div>
		</div>
		<div class="col-sm-7 col-xs-12" style="margin-bottom: 10px">
			<div class="row">
				<div class="col-xs-12" ng-show="!isMovie(datePaneSrc.images[imagesIndex].file)">
					<div id="overlayImage" class="center-cropped" style="background-image: url('{{datePaneSrc.images[imagesIndex].file}}')">
						<img ng-src="{{datePaneSrc.images[imagesIndex].file}}" />
					</div>
				</div>
				<div class="col-xs-12" ng-show="isMovie(datePaneSrc.images[imagesIndex].file)">
					<video id="overlayVideo" class="center-cropped" onclick="return false;" style="max-height: 10%" ng-src="{{datePaneSrc.images[imagesIndex].file}}" controls autoplay loop></video>
				</div>
			</div>
		</div>
		<div class="col-sm-3 col-xs-12" style="max-height: 100%; overflow: scroll;">
			<div class="row">
				<div ng-repeat="image in datePaneSrc.images track by $index" class="col-sm-6 col-xs-2">
					<div class="row">
						<div class="col-xs-12">
							<img ng-src="{{image.thumbnail}}" style="width: 100%" ng-click="changeDataPaneImage($index, $event);" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>