<div style="height: 100%;">
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1">
			<div class="row">
				<div class="row" style="height: 200px; overflow: hidden">
					<div class="row" style="margin-top: -100px">
						<img ng-show="editingContent.topImageUrl" ng-src="{{editingContent.topImageUrl + '?sessionKey=' + sessionKey}}" style="width: 100%" />
					</div>
				</div>
				<div class="row">
					<input id="contentTitle" type="text" class="col-xs-10 col-xs-offset-1 contentTitle" ng-model="editingContent.title" placeholder="title"></input>
				</div>
				<div class="row" style="margin-top: -50px">
					<div class="col-xs-4">
						<button ngf-drop ngf-select ng-model="editingContent.contentImageFile" class="btn btn-lg btn-default btn-block drop-box" ngf-drag-over-class="dragover" ngf-allow-dir="true" ngf-accept="'image/jpeg,image/png,image/bmp'">
							Image file<span ng-show="fileName">(<span ng-bind="fileName"></span>)
							</span> <span ng-show="!fileName">(select JPEG or PNG) </span>
						</button>
					</div>
					<div class="col-xs-4 col-xs-offset-4">
						<tags-input style="height:20px" ng-model="editingContent.tags" class="ti-input-sm bootstrap"> <auto-complete source="loadTags($query)" min-length="0" debounce-delay="0" max-results="10"></auto-complete> </tags-input>
					</div>
				</div>
				<div class="row" align="center">
					<span ng-bind="myAccount.name" style="width: 100px; text-align: left"></span> <img ng-src="{{myAccount.iconUrl}}" style="height: 80px; margin-top: -40px" class="img-circle"> <span ng-bind="currentTime | date:'yyyy-MM-dd'"></span>
				</div>
				<div class="row">
					<textarea id="article" rows="30" id="article" class="article" ng-model="editingContent.article" placeholder="Article"></textarea>
				</div>
			</div>
			<div style="height: 10px"></div>
			<div class="form-group">
				<label for="status" class="col-sm-2 control-label">Accessibility</label>
				<div class="col-sm-10">
					<select ng-model="editingContent.status" ng-options="status as status.message for status in statuses"></select>
				</div>
			</div>
			<div style="height: 10px"></div>
			<button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="save()">Save</button>

		</div>
	</div>
</div>