<div class="col-xs-12" style="height: 100%;">
	<div class="row">
		<div class="col-xs-12">
			<div class="row" style="height: 200px; overflow: hidden">
				<div class="col-xs-12" style="margin-top: -100px; margin: 0; padding: 0;">
					<img ng-src="{{editingContent.topImageUrl ? (editingContent.topImageUrl + '?sessionKey=' + getSessionKey()) : createTitleImage(editingContent.title)}}" style="width: 100%" />
				</div>
			</div>
			<div class="row">
				<input id="contentTitle" type="text" class="col-sm-10 col-sm-offset-1 col-xs-12 contentTitle" ng-model="editingContent.title" placeholder="title"></input>
			</div>
			<div class="row" style="margin-top: -50px">
				<div class="col-xs-4">
					<button id="contentImageButton" ngf-drop ngf-select ng-model="editingContent.contentImageFile" class="btn btn-lg btn-default btn-block drop-box" style="text-overflow: ellipsis;" ngf-drag-over-class="dragover" ngf-allow-dir="true" ngf-accept="'image/jpeg,image/png,image/bmp'">
						Image file<span ng-show="fileName">(<span ng-bind="fileName"></span>)
						</span> <span ng-show="!fileName"></span>
					</button>
				</div>
				<div id="tagsArea" class="col-xs-4 col-xs-offset-4">
					<tags-input style="height:20px" ng-model="editingContent.tags" class="ti-input-sm bootstrap"> <auto-complete source="loadTags($query)" min-length="0" debounce-delay="0" max-results="10"></auto-complete> </tags-input>
				</div>
			</div>
			<div class="row" align="center">
				<div class="col-xs-12">
					<span ng-bind="myAccount.name" style="width: 100px; text-align: left"></span> <img ng-src="{{myAccount.iconUrl}}" style="height: 80px; margin-top: -40px" class="img-circle"> <span ng-bind="currentTime | date:'yyyy-MM-dd'"></span>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6" style="position: relative; height: 100%;" ondragenter="document.getElementById('fileDropArea').style.display='table-cell'" ondrop="event.preventDefault();">
					<textarea id="article" ng-keydown="keyDown($event)" ng-keyup="keyUp($event)" rows="30" class="article" style="float: left; width: 100%; height: 100%;" ng-model="editingContent.article" placeholder="Article" dragenter="console.log('dragenter');" ondrop="event.preventDefault();"></textarea>
					<div id="fileDropArea" class="col-xs-12" ng-model="articleAppendsImage" ngf-drop ngf-drag-over-class="'dragover'" ondragleave="document.getElementById('fileDropArea').style.display='none'" ondrop="document.getElementById('fileDropArea').style.display='none'" style="display: none; position: absolute; top: 0; left: 0; height: 100%; background-color: #666; opacity: 0.5; text-align: center; vertical-align: middle;" ngf-multiple="true">
						<img style="width: 30%" src="images/upload.png" />
					</div>
				</div>
				<div class="col-xs-6" style="float: left; height: 100%; overflow: scroll">
					<div id="articlePreview" class="article" marked="editingContent.article"></div>
				</div>
				<br style="clear: both" />
			</div>
			<div style="height: 10px"></div>
			<div class="form-group col-sm-6">
				<label for="status" class="col-sm-4 control-label" ng-bind="messages.contents.accessibility"></label>
				<div class="btn-group" uib-dropdown uib-keyboard-nav>
					<button id="selectStatusButton" type="button" class="btn btn-default" uib-dropdown-toggle>
						<span ng-bind="editingContent.status.message || ' '"></span><span class="caret"></span>
					</button>
					<ul id="statusUl" class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="selectStatusButton">
						<li role="menuitem" ng-repeat="status in statuses track by $index"><a href ng-click="selectStatus(status)" ng-bind="status.message"></a></li>
					</ul>
				</div>
			</div>
			<div class="form-group col-sm-6" ng-show="myGroups[1]">
				<label for="contentGroup" class="col-sm-4 control-label" ng-bind="messages.group"></label>
				<div class="btn-group" uib-dropdown uib-keyboard-nav>
					<button id="selectGroupButton" type="button" class="btn btn-default" uib-dropdown-toggle>
						<span ng-bind="contentGroup.name || ' '"></span><span class="caret"></span>
					</button>
					<ul id="groupUl" class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="selectGroupButton">
						<li role="menuitem"><a href ng-click="selectGroup(null)">&nbsp;</a></li>
						<li role="menuitem" ng-repeat="group in myGroups track by group.id"><a href ng-click="selectGroup(group)" ng-bind="group.name"></a></li>
					</ul>
				</div>
			</div>
			<div style="height: 10px"></div>
			<button class="btn btn-lg btn-primary btn-block" type="submit" ng-bind="messages.save" ng-click="save()"></button>
		</div>
	</div>
</div>
<div id="imagePane" ng-show="imagePaneSrc || videoPaneSrc" align="center"></div>
<div id="imagePaneImgBase" ng-show="imagePaneSrc" align="center" ng-click="clearImagePaneSrc()">
	<img ng-src="{{imagePaneSrc}}">
</div>
<div id="imagePaneImgBase" ng-show="videoPaneSrc" align="center" ng-click="clearImagePaneSrc()">
	<video id="overlayVideo" ng-src="{{videoPaneSrc}}" onclick="return false;" controls autoplay loop></video>
</div>