<div style="height: 100%;">
	<div ng-show="group && 'YES' === visible">
		<div class="col-sm-7 col-sm-offset-1 col-xs-12">
			<div class="row">
				<div id="groupName" class="col-xs-8" ng-bind="group.name"></div>
				<div id="groupVisibility" class="col-xs-2" ng-bind="group.visibility.message"></div>
				<div class="col-xs-2">
					<button id="saveButton" ng-show="isEditable()" class="btn btn-default" ng-bind="messages.edit" ng-click="gotoEdit()"></button>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<img ng-src="{{group.imageUrl}}">
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div id="groupDescription" marked="group.description" ng-value="myAccount.mail"></div>
				</div>
			</div>
			<div class="row" ng-show="isNotMember()" style="margin-top: 20px">
				<form class="form-inline">
					<div class="form-group col-sm-9 col-xs-12">
						<div class="input-group" style="width: 100%">
							<div class="input-group-addon" ng-bind="messages.groups.requestInvitements"></div>
							<input id="requestInvitationMailInput" type="email" ng-disabled="myAccount" name="requestInvitationMail" class="form-control" ng-model="requestInvitationMail" placeholder="{{messages.accounts.yourMailAddress}}" required />
						</div>
					</div>
					<div class="col-sm-3 col-xs-12">
						<button id="requestInvitationButtonOnOpen" class="btn btn-primary" style="width: 100%" ng-disabled="!requestInvitationMail || '' == requestInvitationMail" ng-bind="messages.groups.request" ng-click="sendInvitationRequest()"></button>
					</div>
				</form>
			</div>
			<div class="row" style="margin-top: 20px">
				<h3 class=col-xs-10 ng-bind="messages.content"></h3>
				<button ng-show="isEditable()" class="col-xs-2 btn btn-default" ng-bind="messages.menu.newContent" ng-click="createNewContent()"></button>
			</div>
			<div id="contentArea" class="row">
				<div class="col-xs-12" ng-repeat="content in group.Contents track by content.id">
					<div class="row">
						<div class="col-xs-12 contentListColmun">
							<div class="row">
								<a class="contentListTitle col-sm-6 col-xs-12" href="/content/{{content.accessKey}}"><div ng-bind="content.ContentBodies[0].title" class="ellipsis"></div></a>
								<div class="col-sm-2 col-xs-12">
									<span class="contentListStatus row" ng-bind="statuses[content.ContentBodies[0].status - 1].message"></span> <span class="contentListStatus row" ng-bind="content.updatedAt | date:'yyyy-MM-dd'"></span>
								</div>
								<div class="col-sm-3 col-sm-offset-1 col-xs-12">
									<div class="row">
										<button ng-show="isEditable()" class="editButton col-xs-6 btn btn-primary" type="submit" ng-click="goto('/editContent/'+content.accessKey)" ng-bind="messages.edit"></button>
										<button ng-show="isEditable()" class="deleteButton col-xs-6 btn btn-default" type="submit" ng-click="deleteContent($index, content.ContentBodies[0].title, content.accessKey)" ng-bind="messages.delete"></button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12" style="margin-top: 20px">
					<h3 ng-bind="messages.groups.member"></h3>
				</div>
			</div>
			<div id="memberArea" class="row">
				<div class="col-xs-12">
					<div class="row" ng-repeat="account in group.Accounts track by account.id">
						<div class="col-sm-6 col-xs-12">
							<div class="row">
								<div class="col-xs-2">
									<img style="width: 20px; height: 20px" ng-src="{{account.iconUrl ? account.iconUrl : '/images/icons.noone.png'}}" />
								</div>
								<div class="col-xs-7">
									<a ng-href="/account/{{account.id}}"><div ng-bind="account.name ? account.name : account.mail" title="{{account.name ? account.name : account.mail}}" class="ellipsis"></div></a>
								</div>
								<div class="col-xs-3">
									<img ng-show="!(isAdmin() && (myAccount && account.id != myAccount.id) && 2 == account.AccountInGroup.inviting)" style="width: 20px; height: 20px" ng-src="{{getAccountImageUrlInGroup(account.AccountInGroup)}}" />
									<div ng-show="isAdmin() && (myAccount && account.id != myAccount.id) && 2 == account.AccountInGroup.inviting" class="dropdown memberEditArea" is-open="false">
										<a href class="dropdown-toggle" data-toggle="dropdown" id="memberEditDropdown"> <img style="width: 20px; height: 20px" ng-src="{{getAccountImageUrlInGroup(account.AccountInGroup)}}" /> <span class="caret"></span></a>
										<ul class="dropdown-menu" aria-labelledby="memberEditDropdown">
											<li class="dropdown-header" ng-bind="messages.groups.invite"></li>
											<li ng-repeat="auth in groupAuthorizations track by auth.keyNumber"><a href ng-click="inviteWithRequest(account.mail, auth.keyNumber)" ng-bind="auth.message"></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row" style="margin-top: 10px" ng-show="isEditable()">
				<div class="col-sm-3 col-xs-12" ng-bind="messages.groups.addsMember"></div>
				<div class="col-sm-5 col-xs-8">
					<form name="addMemberForm">
						<input id="inviteUserMailInput" type="email" name="mail" class="form-control" ng-model="inviteUserMail" placeholder="{{messages.accounts.mail}}" required />
					</form>
				</div>
				<div class="col-sm-2 col-xs-4">
					<select ng-model="inviteUserAuthorization" ng-options="authorization as authorization.message for authorization in groupAuthorizations"></select>
				</div>
				<div class="col-sm-2 col-xs-12">
					<button id="inviteButton" style="width: 100%" class="btn btn-default" ng-bind="messages.groups.invite" ng-disabled="addMemberForm.mail.$error.email || addMemberForm.mail.$error.required" ng-click="invite()"></button>
				</div>
			</div>
			<div class="row" class="col-xs-12" style="margin-top: 10px" ng-show="isInviting()">
				<button id="joinButton" class="btn btn-default" ng-bind="messages.groups.join" ng-click="join()"></button>
			</div>
		</div>
		<div class="hidden-sm hidden-md hidden-lg col-xs-12" style="height: 20px"></div>
		<div class="col-sm-3 col-xs-12">
			<div class="row">
				<h3 class="col-xs-12" ng-bind="messages.message"></h3>
				<div class="col-xs-12">
					<button id="createNewChannelButton" ng-show="isEditable()" class="btn btn-default" style="width: 100%" ng-bind="messages.channels.new" ng-click="createNewChannel()"></button>
				</div>
				<div class="col-xs-12" ng-repeat="channel in group.Channels track by channel.id">
					<div class="row">
						<div class="col-xs-12">
							<a class="toChannelLink" ng-href="{{ isMemberOrInviting() ? 'group/' + group.accessKey + '/channel/' + channel.accessKey + '/messages' : '#'}}"><div class="block" style="margin-top: 3px" ng-bind="channel.name"></div></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div ng-show="'NO' === visible && isNotMember() && !currentInvited">
		<div class="row" ng-show="isNotMember()" style="margin-top: 20px">
			<div class="col-sm-8 col-sm-offset-2 col-xs-12">
				<div ng-bind="messages.groups.thisGroupIsNotOpen"></div>
				<form class="form-inline">
					<div class="form-group col-sm-9 col-xs-12">
						<div class="input-group" style="width: 100%">
							<div class="input-group-addon" ng-bind="messages.groups.requestInvitements"></div>
							<input id="requestInvitationMailInputOnSecret" type="email" ng-disabled="myAccount" name="requestInvitationMail" class="form-control" ng-model="requestInvitationMail" placeholder="{{messages.accounts.yourMailAddress}}" required />
						</div>
					</div>
					<div class="col-sm-3 col-xs-12">
						<button id="requestInvitationButtonOnSecret" class="btn btn-primary" style="width: 100%" ng-disabled="!requestInvitationMail || '' == requestInvitationMail" ng-bind="messages.groups.request" ng-click="sendInvitationRequest()"></button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div align="center" style="margin-top: 10px">
		<a id="groupListLink" class="col-xs-12" href="/groups">&lt;<span ng-bind="messages.groups.groupList"></span></a>
	</div>
</div>