<div style="height: 100%;">
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1">
			<div class="row">
				<div class="col-xs-12" ng-show="myAccount">
					<p>
						Hi, &nbsp;<span ng-bind="myAccount.name"></span>.
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-7">
					<div class="row" style="margin-bottom: 10px">
						<h3 class="col-xs-10" ng-bind="messages.contents.self"></h3>
						<div class="col-xs-2" align="right">
							<button id="createContentButton" ng-show="myAccount" class="btn btn-default glyphicon glyphicon-plus" ng-click="createNewContent()"></button>
						</div>
					</div>
					<div class="row" ng-repeat="content in myContents track by content.id">
						<div class="col-xs-12 contentListColmun">
							<div class="row">
								<div class="col-xs-6">
									<div class="ellipsis row">
										<div class="col-xs-3">
											<img ng-src="{{contentIcon[content.type] || '/images/article_icon.png'}}" style="height: 30px; margin-right: 5px" />
										</div>
										<div class="col-xs-9">
											<div class="contentListStatus" ng-bind="content.updatedAt | date:'yyyy-MM-dd'"></div>
											<a href="/content/{{content.accessKey}}"><div ng-bind="content.ContentBodies[0].title"></div></a>
										</div>
									</div>
								</div>
								<div class="col-xs-3">
									<div class="contentListStatus row" ng-bind="statuses[content.ContentBodies[0].status - 1].message"></div>
									<div class="contentListStatus row" ng-bind="content.Group.name"></div>
								</div>
								<div class="col-xs-3">
									<div class="row">
										<span class="editButton clickable col-xs-6 glyphicon glyphicon-pencil" type="submit" ng-click="gotoEditContent(content)"></span> <span class="deleteButton clickable col-xs-6 glyphicon glyphicon-trash" type="submit" ng-click="deleteContent($index, content.ContentBodies[0].title, content.accessKey)"></span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="groupArea" class="col-sm-4 col-sm-offset-1">
					<div class="row">
						<h3 ng-bind="messages.group" class="col-xs-9"></h3>
						<div class="col-xs-3" align="right">
							<button class="btn btn-default glyphicon glyphicon-plus" ng-click="goto('/group/0/edit')"></button>
						</div>
					</div>
					<div class="row" ng-repeat="group in myGroups track by group.id">
						<a ng-href="/group/{{group.accessKey}}"><div class="col-xs-12 block" style="margin-top: 3px;">
								<div class="row" style="width: 100%">
									<div class="col-xs-10" ng-bind="group.name"></div>
									<div class="col-xs-2">
										<img style="height: 20px" ng-src="{{getAccountImageUrlInGroup(group.AccountInGroup)}}" />
									</div>
								</div>
							</div> </a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>