<div style="height: 100%;">
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1">
			<div class="row">
				<div class="col-xs-12" ng-show="myAccount">
					<p>
						Hi, &nbsp;<span ng-bind="myAccount.name"></span>.
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-7">
					<div class="row" style="margin-bottom: 10px">
						<h3 class="col-xs-10" ng-bind="messages.contents.self"></h3>
						<div class="col-xs-2" align="right">
							<button id="createContentButton" ng-show="myAccount" class="btn btn-default glyphicon glyphicon-plus" ng-click="createNewContent()"></button>
						</div>
					</div>
					<div class="row" ng-repeat="content in myContents track by content.id">
						<div class="col-xs-12 contentListColmun">
							<div class="row">
								<a class="contentListTitle col-sm-6 col-xs-12" href="/content/{{content.accessKey}}">
									<div class="ellipsis">
										<img ng-src="{{contentIcon[content.type] || '/images/article_icon.png'}}" style="height: 40px; margin-right: 5px" /><span ng-bind="content.ContentBodies[0].title"></span>
									</div>
								</a>
								<div class="col-sm-2 col-xs-12">
									<span class="contentListStatus row" ng-bind="statuses[content.ContentBodies[0].status - 1].message"></span> <span class="contentListStatus row" ng-bind="content.updatedAt | date:'yyyy-MM-dd'"></span>
								</div>
								<div class="col-sm-3 col-sm-offset-1 col-xs-12">
									<div class="row">
										<button class="editButton col-xs-6 btn btn-primary" type="submit" ng-click="gotoEditContent(content)" ng-bind="messages.edit"></button>
										<button class="deleteButton col-xs-6 btn btn-default" type="submit" ng-click="deleteContent($index, content.ContentBodies[0].title, content.accessKey)" ng-bind="messages.delete"></button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="groupArea" class="col-sm-4 col-sm-offset-1">
					<div class="row">
						<h3 ng-bind="messages.group" class="col-xs-9"></h3>
						<div class="col-xs-3" align="right">
							<button class="btn btn-default glyphicon glyphicon-plus" ng-click="goto('/group/0/edit')"></button>
						</div>
					</div>
					<div class="row" ng-repeat="group in myGroups track by group.id">
						<a ng-href="/group/{{group.accessKey}}"><div class="col-xs-12 block" style="margin-top: 3px;">
								<div class="row" style="width: 100%">
									<div class="col-xs-10" ng-bind="group.name"></div>
									<div class="col-xs-2">
										<img style="height: 20px" ng-src="{{getAccountImageUrlInGroup(group.AccountInGroup)}}" />
									</div>
								</div>
							</div> </a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>