<div class="row">
	<div class="col-xs-10 col-xs-offset-1">
		<h1>Licenses</h1>
		<h4>This software's licenses under...</h4>
		<div>Apache License Version 2.0</div>
		<div>
			sources are on <a href="https://github.com/ukiuni/Slite">github</a>
		</div>
		<div>We are waiting for your cooperation.</div>
		<hr />
		<h4>This software uses...</h4>
		<h6>aws sdk</h6>
		<div>https://github.com/aws/aws-sdk-js/blob/master/LICENSE.txt</div>
		<h6>request</h6>
		<div>https://github.com/request/request/blob/master/LICENSE</div>
		<h4>This software also uses...</h4>
		<div>Angular, Angular-maked, bluebird, body-parser, bootstrap, etc, exif-js, express, jimp, marked(customized), mp4js, multer, ng-file-upload, ng-tags-input, nightwatch, node-dev, nodemailer, pg, selenium, Sequelize, sns-mobile, socket-io, sqlite3, jquery, toastr, exif.js, jquery.hightlight, mp4, ui-bootstrap, ui.bootstrap.contextMenu, ngStorage, and so on.</div>

		<h1>Disclaimer</h1>
		<div>
			このアプリケーション及びサービスはできるだけ安全な様に、できるだけセキュリティーを保って構築・運用することを心がけていますが、アプリケーションのバグ、運用上のミスおよび制約が出てしまうことがあります。<br /> 作成者およびあらゆる関係者は、このアプリケーション及びサービスによって発生したいかなる損害、損失について、いかなる場合でも一切の責任を負いません。<br /> いかなる利用方法においても、違法なコンテンツや公序良俗に反するコンテンツ、著作権が第三者に属するもの、作成者および関係者の意図に合わない物を本サービスに投稿、送信はしてはいけません。<br /> 何があるかわからないので、このサイトに投稿、送信された一切は作成者が自由に編集、削除可能なものとします。<br /> 利用されていないアカウントは、削除、アカウント名の再利用をする可能性があります。<br />
		</div>
	</div>
</div>