<div class="row">
	<div class="col-xs-10 col-xs-offset-1">
		<h4>This software's licenses under...</h4>
		<div>Apache License Version 2.0</div>
		<hr/>
		<h4>This software uses...</h4>
		<h6>aws sdk</h6>
		<div>https://github.com/aws/aws-sdk-js/blob/master/LICENSE.txt</div>
		<h6>request</h6>
		<div>https://github.com/request/request/blob/master/LICENSE</div>
		<h4>This software also uses...</h4>
		<div>Angular, Angular-maked, bluebird, body-parser, bootstrap, etc, exif-js, express, jimp, marked(customized), mp4js, multer, ng-file-upload, ng-tags-input, nightwatch, node-dev, nodemailer, pg, selenium, Sequelize, sns-mobile, socket-io, sqlite3, jquery, toastr, exif.js, jquery.hightlight, mp4, ui-bootstrap, and so on.</div>
	</div>
</div>