<div class="modal-body" id="confirmDialog">
	<div class="row">
		<div class="col-xs-12">
			<div class="input-group">
				<span class="input-group-addon" id="basic-addon3" ng-bind="messages.messages.strongWords"></span> <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" ng-model="strongWords">
			</div>
			<div style="font-size: xx-small;" align="right" ng-bind="messages.messages.strongWordsDescription"></div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div style="font-size: xx-small;" align="left" ng-bind="messages.messages.notification"></div>
			<div class="btn-group" style="width: 100%; padding: 0 15px;">
				<label class="btn btn-default col-xs-4" ng-model="notificationSetting" uib-btn-radio="'none'" ng-bind="messages.messages.notifications.none"></label> <label class="btn btn-default col-xs-4" ng-model="notificationSetting" uib-btn-radio="'strongWordOnly'" ng-bind="messages.messages.notifications.strongWordOnly"></label> <label class="btn btn-default col-xs-4" ng-model="notificationSetting" uib-btn-radio="'all'" ng-bind="messages.messages.notifications.all"></label>
			</div>
		</div>
	</div>
	<div class="row" style="margin-top: 10px">
		<div class="col-xs-12">
			<div style="font-size: xx-small;" align="left" ng-bind="messages.messages.webhookConnect"></div>
			<div class="col-xs-6">
				<button class="btn btn-default" style="width: 100%" ng-click="createWebhookUrl('gitlab')">
					<img src="/images/gitlab_bw.png" style="height: 15px; margin-top: -3px; margin-left: 10px;"> <span ng-bind="messages.messages.forGitlab"></span>
				</button>
			</div>
			<div class="col-xs-6">
				<button class="btn btn-default" style="width: 100%" ng-click="createWebhookUrl('github')">
					<img src="/images/github_bw.png" style="height: 15px; margin-top: -3px; margin-left: 10px"> <span ng-bind="messages.messages.forGithub"></span>
				</button>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer" style="margin-top: 20px">
	<button type="button" id="closeButton" class="btn btn-default" ng-click="$dismiss()" ng-bind="messages.cancel"></button>
	<button type="button" id="saveButton" class="btn btn-primary" ng-click="save()" ng-bind="messages.save"></button>
</div>