<div style="height: 100%; margin-top: -54px; padding-top: 54px">
	<div class="col-xs-12" ng-show="channel">
		<div class="row" style="height: 100%;">
			<div id="infoArea" class="col-sm-3 col-xs-12">
				<div id="channelNameArea" class="row">
					<div class="col-xs-12 hidden-sm hidden-md hidden-lg" style="padding-left: 20px;">
						<div id="channelName" class="ellipsis" style="font-size: medium;" ng-bind="channel.name"></div>
					</div>
					<div class="hidden-xs col-sm-12" style="padding-left: 20px;">
						<h3 id="channelName" class="ellipsis" ng-bind="channel.name"></h3>
					</div>
					<div class="hidden-xs col-sm-12" style="padding-left: 20px">
						<a ng-href="{{'/group/'+channel.Group.accessKey}}"><div id="groupName" ng-bind="channel.Group.name" class="ellipsis" style="font-size: 12px"></div></a>
					</div>
				</div>
				<div id="infoAreaInner" class="row">
					<div class="col-xs-12">
						<div class="row marginForChannelName"></div>
						<div class="row">
							<div class="col-sm-12 col-xs-1" ng-repeat="account in channel.Group.Accounts track by account.id">
								<div class="row messageAccountArea" ng-class="{'messageAccountAreaNow' : account.now}" context-menu="accountMenuOptions" model="account">
									<div class="hidden-sm hidden-md hidden-lg col-xs-12">
										<img class="accountIcon" style="height: 20px" ng-src="{{account.iconUrl}}" />
									</div>
									<div class="accountName col-sm-10 hidden-xs" style="display: table; height: 20px;">
										<div style="vertical-align: middle; display: table-cell;">
											<img class="accountIcon" style="height: 20px; margin-right: 5px" ng-src="{{account.iconUrl}}" /><span ng-bind="account.name"></span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div id="messageAccountsBottomMarginArea" class="row hidden-xs"></div>
					</div>
				</div>
				<div id="messageChannelsArea" class="row" ng-show="joiningChannels.length > 1">
					<div class="col-xs-12" ng-repeat="channel in joiningChannels track by channel.id">
						<div class="otherChannel" ng-click="changeChannel(channel)" ng-class="{'brink':channel.notify}" context-menu="channelMenuOptions" model="channel">
							<span ng-show="channel.unreadCount" class="badge hidden-sm hidden-md hidden-lg" style="margin-right: -20px" ng-bind="channel.unreadCount"></span><span ng-show="channel.Group.isTemporary" class="glyphicon glyphicon-envelope" style="margin-right: 5px"></span><span ng-bind="channel.name"></span><span ng-show="channel.Group.name">/</span><span ng-bind="channel.Group.name"></span><span ng-show="channel.unreadCount" class="badge hidden-xs" style="margin-left: 10px" ng-bind="channel.unreadCount"></span>
						</div>
					</div>
					<div id="channelTogle" class="col-xs-12 hidden-sm hidden-md hidden-lg glyphicon" ng-class="channelToggleShown ? 'glyphicon-chevron-right':'glyphicon-chevron-left'" ng-click="toggleChannelVisible()"></div>
				</div>
				<div id="messageControllArea" class="row hidden-xs">
					<div class="col-xs-12" style="height: 100%" align="right">
						<img class="toolAreaItem" ng-show="channel.hasGitlabBot" src="images/gitlab_bw.png" alt="{{messages.channels.connectedToGitlab}}" title="{{messages.channels.connectedToGitlab}}"></img> <img class="toolAreaItem" ng-show="channel.hasGithubBot" src="images/github_bw.png" alt="{{messages.channels.connectedToGithub}}" title="{{messages.channels.connectedToGithub}}"></img> <img class="toolAreaItem messageSettingButton" src="images/setting_icon.png" ng-click="showSettingDialog()" alt="{{messages.menu.setting}}" title="{{messages.menu.setting}}"></img>
					</div>
				</div>
			</div>
			<div id="messageArea" class="col-sm-9 col-xs-12" style="height: 100%;">
				<div id="messageScrollPane" class="row" style="height: 100%; width: 100%; overflow: scroll; padding-bottom: 80px;">
					<div class="col-xs-12">
						<div id="messageScrollInner" class="row">
							<div ng-bind="messages.messages.loadHistory" style="width: 100%; margin-bottom: 3px; border: 1px solid white" class="btn btn-default" ng-click="loadHistory()" ng-hide="channel.noMoreHistory"></div>
							<div class="col-xs-12 messageRow" ng-repeat="message in channel.messages track by message.id" ng-class-odd="'repeatOdd'">
								<div ng-show="!message.type || 'markdown' == message.type" class="row">
									<div class="col-xs-1" style="min-width: 40px;">
										<img class="accountIcon" style="height: 40px; min-width: 40px;" ng-src="{{message.Bot.iconUrl || message.owner.iconUrl}}" />
									</div>
									<div class="col-xs-10">
										<div class="row" style="color: #999; font-size: 10px;">
											<div class="col-xs-3 ellipsis" title="{{message.Bot.name || message.owner.name}}" alt="{{message.Bot.name || message.owner.name}}" ng-bind="message.Bot.name || message.owner.name"></div>
											<div class="ellipsis" ng-class="{'col-xs-5':message.Bot, 'col-xs-9':!message.Bot}" ng-bind="message.createdAt | date :'yyyy/MM/dd HH:mm:ss'"></div>
											<div class="ellipsis col-xs-4" ng-show="message.Bot" ng-bind="'owner ' + message.owner.name"></div>
										</div>
										<div class="row">
											<div class="col-xs-12 messageBody" marked="message.body"></div>
										</div>
									</div>
								</div>
								<div ng-show="'remind' == message.type" class="row">
									<div class="col-xs-1" style="min-width: 40px;">
										<img class="accountIcon" style="height: 40px; min-width: 40px;" src="/images/timer.png" />
									</div>
									<div class="col-xs-10">
										<div class="row" style="color: #999; font-size: 10px;">
											<div class="col-xs-3 ellipsis" title="{{messages.app.title + ' reminder'}}" alt="{{messages.app.title + ' reminder'}}" ng-bind="messages.app.title + ' reminder'"></div>
											<div class="ellipsis col-xs-5" ng-bind="message.createdAt | date :'yyyy/MM/dd HH:mm:ss'"></div>
											<div class="ellipsis col-xs-4" ng-bind="'remind from ' + message.owner.name"></div>
										</div>
										<div class="row">
											<div class="col-xs-12 messageBody" marked="message.body"></div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xs-12 messageRow" ng-class-odd="'repeatOdd'" ng-show="sendingMessage">
								<div class="row">
									<div class="col-xs-1" style="min-width: 40px;">
										<img class="accountIcon" style="height: 40px; min-width: 40px;" ng-src="{{myAccount.iconUrl}}" />
									</div>
									<div class="col-xs-10">
										<div class="row" style="color: #999; font-size: 10px">
											<div class="col-xs-3 ellipsis" title="{{myAccount.name}}" alt="{{myAccount.name}}" ng-bind="myAccount.name"></div>
											<div class="col-xs-9 ellipsis" ng-bind="Date.new() | date :'yyyy/MM/dd HH:mm:ss'"></div>
										</div>
										<div class="row">
											<div class="col-xs-12 messageBody" marked="sendingMessage.body"></div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xs-12 messageRow" ng-class-odd="'repeatOdd'" style="background-color: #F3F3F3" ng-show="0 != channel.talkings.length">
								<div class="row">
									<div class="col-xs-2" ng-repeat="talking in channel.talkings track by $index">
										<img class="accountIcon" style="height: 40px; min-width: 40px;" ng-src="{{talking.account.iconUrl}}" /><span class="glyphicon glyphicon-bullhorn"></span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="messageInputArea" class="row" style="width: 100%; height: 75px; margin-top: -80px; background-color: white">
					<div class="hidden-sm col-xs-1"></div>
					<div class="col-sm-12 col-xs-10" style="margin: 0; padding: 0; position: relative" ondragenter="document.getElementById('fileDropArea').style.display='table-cell'" ondrop="event.preventDefault();">
						<textarea id="messageInput" class="form-control" rows="3" style="width: 80%; position: absolute; float: left; resize: none;" ng-keydown="handleKeydown($event)" ng-model="text" ondrop="event.preventDefault();"></textarea>
						<div id="uploadingStatusArea" class="progressAnimate" ng-show="isFileUploading" style="position: absolute;border-radius:3px 0px 5px 0px">&nbsp;uploading</div>
						<div id="fileDropArea" class="messageFileDropArea" ng-model="messageImage" ngf-drop ngf-drag-over-class="'dragover'" ondragleave="document.getElementById('fileDropArea').style.display='none'" ondrop="document.getElementById('fileDropArea').style.display='none'"></div>
						<div style="width: 18%; float: left; margin-left: 82%" class="ellipsis">
							<div class="checkbox">
								<label> <input type="checkbox" ng-model="sendWithEnter"> <span class="ellipsis" ng-bind="messages.sendWithEnter"></span>
								</label>
							</div>
							<button type="submit" class="btn btn-default" ng-disabled="'' == text" ng-click="sendMessage()" ng-bind="messages.send"></button>
							<span id="messageHelp" class="glyphicon glyphicon-question-sign" ng-click="openHelp()" style="margin-left: 10px"></span>
						</div>
						<br style="clear: both;" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
