<div class="row">
	<div class="col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
		<div class="row">
			<h2 class="form-signin-heading">Sign in</h2>
		</div>
		<div class="row">
			<form class="form-signin">
				<label for="inputEmail" class="sr-only">Email address</label> <input type="email" id="inputMail" class="form-control" placeholder="Email address" required autofocus ng-model="signinAccount.mail"> <label for="inputPassword" class="sr-only">Password</label> <input type="password" id="inputPassword" class="form-control" placeholder="Password" required ng-model="signinAccount.password">
				<div class="checkbox">
					<label> <input type="checkbox" value="remember-me" ng-model="persist"> Remember me
					</label>
				</div>
				<a href="/requestResetPassword">Forget password?</a>
				<button class="btn btn-lg btn-primary btn-block" type="submit" id="signinButton" ng-click="signin()">Sign in</button>
			</form>
		</div>
	</div>
</div>